<% content_for :clazz do 'support' end %>

<% content_for :concept do %>
<div class="subconcept support">
	<strong>Hatio, Lab. Support</strong>
	하티오랩의 제조기업 솔루션으로 비즈니스 혁신을 달성할 수 있도록 하는 방법을 깊이있게 논의하고자 하시면 마케팅 담당자에게 문의해주세요.
</div>
<% end %>

<div class="subContentWrap support">
	<div class="mailForm">
		저희 제품에 관심이 있으시면..
		<%= form_tag({:controller => :site, :action => :contact}, :remote => true) do %>
			<span>
				<%= label_tag(:product, "관심분야") %>
				<%= select_tag(:product, options_for_select([
					['생산관리시스템', 'MES'],
					['품질관리시스템', 'QMS'],
					['공급망관리시스템', 'SCM'],
					['고객관리시스템', 'CRM'],
					['엔지니어링데이터관리', 'EDM'],
					['창고관리시스템', 'WMS'],
					['교육', 'Traning'],
					['웹사이트 관련해서 ...', 'WebSite']]), :prompt => "관심분야를 선택해주세요.")
				%>
			</span>
			<span>
				<%= label_tag(:name, "이름") %>
				<%= text_field_tag(:name)%>
			</span>
			<span>
				<%= label_tag(:email, "이메일") %>
				<%= text_field_tag(:email)%>
			</span>
			<span>
				<%= label_tag(:company, "소속") %>
				<%= text_field_tag(:company)%>
			</span>
			<span>
				<%= label_tag(:phone, "전화번호") %>
				<%= text_field_tag(:phone)%>
			</span>
			<span>
				<%= label_tag(:message, "남기실 말씀") %>
				<%= text_area_tag(:message, '', :rows => 3)%>
			</span>
			<span>
				<%= check_box_tag(:subscribe) %>
				하티오랩의 새로운 소식을 계속해서 받으시겠습니까 ?
			</span>
			<div class="notice" id="flash_notice"><%= flash[:notice] %></div>
			<%= submit_tag("보내기", :class => 'btnSend') %>
		<% end %>

	</div>
	<div class="info">
		<p><strong>환영합니다.</strong>하티오랩의 제품 판매, 상용 라이센스, 사용자 교육, 전문 서비스 또는 그 밖의 궁금한 점이 있으면 이 페이지에 메세지를 남겨주세요. 최선을 다해서 대답을 드리도록 하겠습니다.<br/><br/>하티오랩의 제품과 서비스에 관심을 가져주셔서 감사합니다！</p>
		<label>회사 정보</label>
        <span>경기도 성남시 분당구 판교동 625번지 리버스토리 303호 (우:463-410)</span>
        <span>(도로명주소)경기도 성남시 분당구 운중로 242, 303호(판교동, 리버스토리) (우:463-410)</span>
        <span>TEL : 031-605-5571</span>
        <span>FAX : 031-605-5584</span>
		<span>heartyoh@hatiolab.com</span>
        <span><iframe src="http://dna.daum.net/include/tools/routemap/map_view.php?width=800&height=550&latitude=37.38910406080416&longitude=127.08966072010766&contents=%28%EC%A3%BC%29%ED%95%98%ED%8B%B0%EC%98%A4%EB%9E%A9&zoom=4" width="800" height="585" scrolling="no" frameborder="0"></iframe></span>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
	</div>
</div>
